name: Test Build
on:
  push:
    branches: main
  pull_request:
    branches: main
jobs:
  test:
    name: BuildAPIs
    runs-on: ubuntu-latest
    steps:
      - name: executing remote ssh command using password
        uses: appleboy/ssh-action@v1.2.0
        with:
          host: 213.199.45.4
          username: root
          key: ${{ secrets.SSH_KEY }}
          # password: admin
          port: 22
          script: . ~/.nvm/nvm.sh
            whoami
            pwd
            ls
            cd apps/construction/devops-2
            git pull
            pm2 restart devops-test
